<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.polyplay.pp.persistence.MainService_Mapper">





<select id="selectRecentList" resultType ="cvo">
select * from POLY_CONTENTS order by cidx desc
</select>


<select id="selectViewCntList" resultType ="cvo">
select * from POLY_CONTENTS order by cViewCnt desc
</select>


<select id="selectStarPointList" resultType ="spvo">
select c.cidx, c.cSubject, c.cRuntime, c.cOpenYear, c.cStory,c.cImage,c.cPreVideo,r.rPoint, avg(r.rPoint) as star 
	from POLY_CONTENTS c, POLY_REVIEW r where c.cidx = r.cidx group by c.cidx,c.cSubject,c.cRuntime,c.cOpenYear,c.cStory,c.cImage,c.cPreVideo,r.rPoint 
		order by star desc
</select>


<select id="selectSalesList" resultType ="slvo">
select c.cidx,c.cSubject,c.cRuntime,c.cOpenYear,c.cStory,c.cImage,c.cPreVideo,o.oid,p.pStatus, count(*) as cnt from POLY_CONTENTS c, POLY_ORDER o, POLY_PAY p 
     where c.cidx = o.cidx and o.oid = p.oid and p.pStatus='Y' group by c.cidx,c.cSubject,c.cRuntime,c.cOpenYear,c.cStory,c.cImage,c.cPreVideo,o.oid,p.pStatus
     	order by cnt
</select>



</mapper>